@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #f7f7f7;
}
.auth-modal .modal-dialog {
  max-width: 764px !important;
}
.auth-modal .modal-content {
  border: none !important;
  border-radius: 15px !important;
}
.section-title {
  font: 800 40px "Manrope";
  line-height: 48px;
  color: #000000;
  margin-bottom: 14px;
}
.section-description {
  font: 500 16px "Manrope";
  color: #64607d;
  line-height: 30px;
  margin-bottom: 34px;
}
.notification-modal .modal-dialog {
  margin-right: 300px !important;
  margin-top: 100px;
  .close-icon {
    position: absolute;
    top: -50px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.3);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
.notification-modal .modal-dialog {
  max-width: 360px !important;
}
